.container {
    width: 600px;
    margin: 50px auto;
    text-align: center;
}
.options {
    text-align: center;
}
.options img {
    display: inline-block;
}

textarea {
    display: block;
    width: 100%;
    margin-top: 40px;
    height: 60px;
}

.remark {
    width: 400px;
}
